<!-- 1 Column Text : BEGIN -->
<tr>
    <td style="background-color: #ffffff;">
        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td style="padding: 20px; font-family: sans-serif; font-size: 15px; line-height: 20px; color: #555555;">
                    {{#paragraphs}}
                    <p>{{&.}}</p>
                    {{/paragraphs}}
                </td>
            </tr>
        </table>
    </td>
</tr>
<!-- 1 Column Text : END -->
