#navbar-logo {
	height: 200%;
	margin-top: -11px;
}

#cr-login-logo {
	width: 100%
}

#cr-login-logo-container {
	margin-bottom: 100px;
}

.login-page,.signup-page {
	background-color: #eee;
}

.cr-error-logo {
	padding: 45px;
	max-width: 400px;
	margin: auto;
}

textarea.cr-code {
	margin-top: 16px;
	width: 100%;
	height: 64px;
	resize: none;
}
