#navbar-logo {
	height: 200%;
	margin-top: -11px;
}

#cr-login-logo {
	width: 100%
}

#cr-login-logo-container {
	margin-bottom: 100px;
}

.login-page,.signup-page {
	background-color: #eee;
}

.cr-error-logo {
	padding: 45px;
	max-width: 400px;
	margin: auto;
}

textarea.cr-code {
	margin-top: 16px;
	width: 100%;
	height: 64px;
	resize: none;
	font-family: monospace;
}

.cr-initial-setup-page {
	max-width: 500px;
}

.cr-form-span {
	font-weight: 400;
}

.cr-pronouns-list {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 25px;
}

.cr-pronouns-list>span:not(:last-child) {
	margin-right: 10px;
}

.cr-pronouns-list>.error {
	margin-left: -20px;
}

.cr-user-picture {
	background: #fff;
	border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    display: block;
    margin-bottom: -5px; /* hack to solve weird phantom bottom margin beneath svg compared to img */
}

.user-info {
	background: #009846 !important;
}

.datatable {
	overflow-x: hidden;
}

.clickable {
	cursor: pointer;
}

.template {
	display: none;
}

.tagsinput-group {
	display: flex;
}

.tagsinput-group>label {
	min-width: fit-content;
}

.tagsinput-group>.bootstrap-tagsinput {
	flex-grow: 1;
	margin-left: 5px;
}

.tagsinput-noform {
	text-align: left;
	padding: 16px;
}

.bootstrap-tagsinput {
	line-height: 31px;
}

.tagsinput-group>label {
	margin-top: 8px;
}

.menu-login {
	padding: 10px 13px;
}

/* Hotfix for z-index bug in AdminBSB */
.form-group .form-line .form-label {
	z-index: 10;
}

/* Hotfix for offset bug with floating forms and jquery datetimepicker */
.form-group.form-float .bootstrap-datetimepicker-widget.bottom {
	top: 72px !important;
}
.form-group.form-float .bootstrap-datetimepicker-widget.top {
	bottom: 55px !important;
}

.cr-cirk-faro-dyn>li:not(:first-child) {
	margin-top: 15px;
}
.cr-cirk-faro-dyn>li>.form-line {
	display: inline-block;
}

.swal-content table.table {
	text-align: left;
}

.panel-collapse-arrow:before {
	content: '\e316';
}

a.collapsed>.panel-collapse-arrow:before {
	content: '\e313';
}
