#navbar-logo {
	height: 200%;
	margin-top: -11px;
}

#cr-login-logo {
	width: 100%
}

#cr-login-logo-container {
	margin-bottom: 100px;
}

.login-page,.signup-page {
	background-color: #eee;
}

.cr-error-logo {
	padding: 45px;
	max-width: 400px;
	margin: auto;
}

textarea.cr-code {
	margin-top: 16px;
	width: 100%;
	height: 64px;
	resize: none;
}

.cr-initial-setup-page {
	max-width: 500px;
}

.cr-form-span {
	font-weight: 400;
}

.cr-pronouns-list {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 25px;
}

.cr-pronouns-list>span:not(:last-child) {
	margin-right: 10px;
}

.cr-pronouns-list>.error {
	margin-left: -20px;
}

.cr-user-picture {
	background: #fff;
	border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}
