#navbar-logo {
	height: 200%;
	margin-top: -11px;
}

#cr-login-logo {
	width: 100%
}

#cr-login-logo-container {
	margin-bottom: 100px;
}

.login-page,.signup-page {
	background-color: #eee;
}

.cr-error-logo {
	padding: 45px;
	max-width: 400px;
	margin: auto;
}

textarea.cr-code {
	margin-top: 16px;
	width: 100%;
	height: 64px;
	resize: none;
	font-family: monospace;
}

.cr-initial-setup-page {
	max-width: 500px;
}

.cr-form-span {
	font-weight: 400;
}

.cr-pronouns-list {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 25px;
}

.cr-pronouns-list>span:not(:last-child) {
	margin-right: 10px;
}

.cr-pronouns-list>.error {
	margin-left: -20px;
}

.cr-user-picture {
	background: #fff;
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	display: block;
	margin-bottom: -5px; /* hack to solve weird phantom bottom margin beneath svg compared to img */
}

.user-info {
	background: #009846 !important;
}

.datatable {
	overflow-x: hidden;
}

.dataTables_wrapper>.row:nth-child(2) {
	overflow-x: auto;
}

.dataTables_wrapper>.row:not(:nth-child(2)) {
	padding-top: 16px;
}

@media screen and (max-width: 767px) {
	div.dataTables_paginate,div.dataTables_filter {
		margin-left: -32px !important;
	}

	.dataTables_info {
		padding: 0 16px;
	}
}

@media screen and (max-width: 500px) {
	td.dataTables_empty {
		text-align: left !important;
	}
}

/* Fixes issues with multi-line floating form labels in AdminBSB */ 
.form-label {
	bottom: -2px;
	top: unset !important;
}
.form-group .form-line.focused .form-label {
	bottom: 20px;
}

.clickable {
	cursor: pointer;
}

.template {
	display: none;
}

.tagsinput-group {
	display: flex;
}

.tagsinput-group>label {
	min-width: fit-content;
}

.tagsinput-group>.bootstrap-tagsinput {
	flex-grow: 1;
	margin-left: 5px;
}

.tagsinput-noform {
	text-align: left;
	padding: 16px;
}

.bootstrap-tagsinput {
	line-height: 31px;
}

.tagsinput-group>label {
	margin-top: 8px;
}

.menu-login {
	padding: 10px 13px;
}

/* Hotfix for z-index bug in AdminBSB */
.form-group .form-line .form-label {
	z-index: 10;
}

/* Hotfix for offset bug with floating forms and jquery datetimepicker */
.form-group.form-float .bootstrap-datetimepicker-widget.bottom {
	top: 72px !important;
}
.form-group.form-float .bootstrap-datetimepicker-widget.top {
	bottom: 55px !important;
}

.cr-cirk-faro-dyn>li:not(:first-child) {
	margin-top: 15px;
}
.cr-cirk-faro-dyn>li>.form-line {
	display: inline-block;
}

.swal-content table.table {
	text-align: left;
}

.panel-collapse-arrow:before {
	content: '\e316';
}

a.collapsed>.panel-collapse-arrow:before {
	content: '\e313';
}

/* Hotfix for invalid cursor in disabled floating label input fields in AdminBSB */
.form-control[disabled]~label.form-label {
	cursor: not-allowed;
}

@media print {
	* {
		-webkit-transition: none !important;
		transition: none !important;
	  }

	.panel-print>.panel-heading>.panel-title>a>.panel-collapse-arrow {
		display: none;
	}

	.panel-print {
		page-break-inside: avoid;
	}

	.panel-print>.panel-collapse {
		display: inherit;
	}

	.panel-print>.panel-heading>.panel-title {
		background-color: inherit !important;
	}
}

#cirkulero-contribs>.panel[data-edited=true] .cirkulero-contrib-title:before {
	content: '*';
	margin-right: 10px
}

.cr.profile-header {
	background-color: #2ABA52;
}

.cr.image-area {
	display: flex;
	justify-content: center;
}

.cr.image-area>div {
	box-sizing: content-box;
	width: 128px;
	height: 128px;
	border: 2px solid #2ABA52;
    padding: 2px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
}

.cr.image-area>div>img {
	border: 0 !important;
	padding: 0 !important;
	margin: inherit !important;

}

.cr.profile-body {
	padding: 20px;
}

#cr-profile-groups>span {
	margin-bottom: 4px;
	display: inline-block;
}

.cr.content-area {
	border-bottom: none !important;
}

.cr-fact-list>.oneline {
	display: flex;
}

.cr-fact-list>.oneline>.title {
	margin-right: 10px;
}

.cr-fact-list>.oneline>.content {
	line-height: 19px;
}

.profile-header>.header-dropdown {
	position: absolute;
	top: 20px;
	right: 15px;
	list-style: none;
}

.profile-header>.header-dropdown>li {
	display: inline-block;
}

.profile-header>.header-dropdown i {
	font-size: 20px;
	-moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.profile-header>.header-dropdown i:hover {
	color: #666;
}

img.blur {
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

.dropzone .dz-preview.dz-image-preview {
	background-color: inherit;
}

.dropzone .dz-preview .dz-image {
	border-radius: 100%
}

.cr-privacy-policy-page {
	max-width: calc(100vw - 64px);
}

#cr-privacy-policy-logo-container {
	margin: auto;
	max-width: 500px;
	margin-bottom: 65px;
}

#cr-privacy-policy-logo-container img {
	width: 100%;
}

.num:before {
	content: attr(data-num) ".";
	margin-right: 16px
}

.card>.body.full-image {
	padding: 0;
}

.card>.body.full-image>img {
	width: 100%;
}

.row-eq-height {
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
}

.row-eq-height .card {
	height: calc(100% - 30px)
}

.sidebar .legal .copyright a:hover {
	text-decoration: underline;
}
